.ed_page_wrap * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

* ::selection {
  background: #dbdbdb !important;
}

.ed_page_wrap {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ed_page_wrap ::selection {
  background: #dbdbdb;
}

.ed_page {
  height: 90%;
  width: 98%;
  /* border: 2px black solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ed_page_sidebar {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ed_page_sidebar .button {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 2px;
}

.ed_page_sidebar .button:hover {
  background-color: #d0d0d0;
}

.ed_page_article {
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #ddd; */
}

.ed_page_article label {
  font-size: 18px;
}

.ed_page_article .section {
  display: none;
}

.ed_page_article .active {
  display: block;

  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* white-space: nowrap; */

.ed_page_article .section .group {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 35px;
  padding-bottom: 25px;
  width: 100%;
  max-height: 650px;
}

.ed_page_article .section .group > *:not(:last-child) {
  margin-bottom: 0px;
}

.ed_page_article .quill-editor {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  padding-left: 15px;
}
