.ed_page_wrap {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ed_page_wrap > * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.ed_page {
  height: 90%;
  width: 98%;
  /* border: 2px black solid; */
  display: flex;
  flex-direction: row;
}

.ed_page_sidebar {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ed_page_sidebar {
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ed_page_sidebar .button {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
  border: none;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 2px;
}

.ed_page_sidebar .button:hover {
  background-color: #d0d0d0;
}

.ed_page_article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: none;
}

.active {
  display: block;

  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* white-space: nowrap; */

.ed_page_article .section .group {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
  max-height: 650px;
}

.ed_page_article .section .group > *:not(:last-child) {
  margin-bottom: 0px;
}

.group input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: none;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

.quill-editor {
  width: 100%;
  font-size: 16px;
}

.ed_page_article ::selection {
  background: #dbdbdb;
}

input,
select,
textarea,
button {
  border-color: #dbdbdb;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 2px solid #dbdbdb;
  border-color: #dbdbdb;
}

/* .ql-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
} */

.ql-editor {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.filter-item {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.filter-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.filter-item select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
