* {
  margin: 0;
  padding: 0;
  font-family: "MODERNIZ", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.menu {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}

.menu .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.menu .side-menu {
  height: 17px;
  width: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.menu .central-menu {
  width: 992px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.red-border {
  display: inline-block;
  padding: 6px 29px;
  border: 1.5px solid rgb(220, 42, 42);
  border-radius: 8px;
  font-size: 16px;
  color: rgb(220, 42, 42);
  text-align: center;
}

.red-border:hover {
  background-color: rgb(220, 42, 42);
  color: white;
}

.selected-category {
  background-color: rgb(220, 42, 42);
  color: white;
}

.bottom a {
  height: 100%;
  width: 100%;

  text-decoration: none;
  color: inherit;
}

.menu .central-menu .logo {
  width: 91px;
  height: 43px;
}

.menu .central-menu .list {
  width: 350px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu .buttom {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu .buttom .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.piece-2 {
  width: 100%;
  height: 141vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.piece-2 .scope {
  width: 100%;
  height: 95%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .piece-2 .scope .bottom */

.piece-2 .scope .bottom {
  width: 100%;
  padding-top: 1%;
  display: flex;
  justify-content: space-between;
}

/* .piece-2 .bottom .mini-column */

.piece-2 .scope .bottom .mini-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.78%;
}

.piece-2 .scope .bottom .mini-column .bild-bord {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}

.piece-2 .scope .bottom .mini-column .bild-bord .image {
  width: 100%;
  height: 100%;
}

.piece-2 .scope .bottom .mini-column .bild-bord .image-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.piece-2 .scope .bottom .mini-column .bild-bord .image-container .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.piece-2 .scope .bottom .mini-column .bild-bord .title {
  padding-top: 2%;
  width: 100%;

  font-family: "MODERNIZ", sans-serif; /* Убедитесь, что шрифт подключен */
  font-style: normal;
  font-weight: 900;
  font-size: 22px;

  color: #000000;
}

.piece-2 .scope .bottom .mini-column .bild-bord .description {
  padding-top: 3%;
  width: 100%;

  font-family: "Monda";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  color: #000000;
}

/* .piece-2 .scope .bottom .big-column */

.piece-2 .scope .bottom .big-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.piece-2 .scope .bottom .big-column .bild-bord {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
}

.piece-2 .scope .bottom .big-column .bild-bord .image-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.piece-2 .scope .bottom .big-column .bild-bord .image-container .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.piece-2 .scope .bottom .big-column .bild-bord .title {
  padding-bottom: 2%;
  width: 100%;

  font-family: "MODERNIZ", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;

  color: #000000;
}

.piece-2 .scope .bottom .big-column .bild-bord .description {
  padding-bottom: 3%;
  width: 100%;

  font-family: "Monda";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  color: #000000;
}
